body {
  background-color: rgb(218, 214, 216) !important;
}

h1 {
  font-family: "Sedan SC", serif !important;
  font-size: 85px !important;
  color: whitesmoke !important;
  background-image: linear-gradient(to right, rgb(143, 125, 106, 0), rgb(176, 157, 139, 1), #C8B6A6, rgb(235, 215, 195, 0));
  display: flex;
  justify-content: center !important;
  margin: 100px !important; 
  animation: fadeInDown; 
  animation-timing-function: 8s !important;
  animation-duration: 3s !important;
}

.main {
width: 80vmin;
padding: 50px 40px;
background-color: whitesmoke !important;
opacity: 80%;
position: absolute;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
border: 10px solid #212529 !important;
border-radius: 2px;
box-shadow: 20px 20px 40px black;
}

span {
display: block;
text-align: center;
font-size: 100px;
}

p {
  font-family: "Sedan", serif;
  font-size: 30px ;
  font-size: 20px !important;
  text-align: center;
  word-wrap: break-word;
  line-height: 35px;
  margin: 30px 0;
}

.next {
display: block;
background-color: #c4b3a3 !important;
border: none;
font-family: "Sedan SC", serif !important;
font-size: 18px;
color: white;
font-weight: 200;
padding: 12px 30px !important;
margin: 40px auto !important;
border-radius: 3px !important;
cursor: pointer !important;
}